!!! 5
html(lang="es")
  head
    meta( charset="utf-8" )
  body
    form#peticion
      <input type="submit">
    h1 Welcome to 
      div#categoria

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/ajax.js')